{% extends 'base.html' %}

{% block titulo %}
Listado de carreras
{% endblock titulo %}

{% block contenido %}
<a href="#" class="btn btn-prumary">Nueva Carrera</a>
{% if carreras %}
<h3>Listado de carreras</h3>
<table class="table">
    <thead>
        <tr>
            <td>Clave</td>
            <td>Nombre</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% for item in carreras %}
          <tr>
            <td>{{item.clave}}</td>
            <td>{{item.nombre}}</td>
            <td><a href="" class="btn btn-success">Editar</a>
                <a href="" class="btn btn-danger">Eliminar</a>
            </td>
          </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <h5>No hay registros</h5>
{% endif %}
{% endblock contenido %}