{% extends "base.html" %}
{% block contenido %}
<h1>Listado de datos recibidos</h1>
<table>
    <thead>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Promedio</th>
    </thead>
    <tbody>
        <td>{{nombre}}</td>
        <td>{{edad}}</td>
        <td>{{promedio}}</td>
    </tbody>
</table>

<a href="{% url 'homeCatalogos' %}">regresar</a>

<style>
    table {
        width: 20%;
        border: 1px solid #000;
    }

    th,
    td {
        width: 25%;
        text-align: left;
        vertical-align: top;
        border: 1px solid #000;
        border-spacing: 0;
    }
</style>
{% endblock contenido %}